*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
   background-color: rgb(242, 242, 242);
}
#container{
    margin-top: 20px;
    border-radius: 6%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
    background-color: rgb(242, 242, 242);
}

.card{
    width:300px;
    border:1px solid rgb(228, 230, 232);
    box-shadow: 5px 5px 5px  rgb(228, 230, 232);
    padding:5px;
     background-color: rgb(228, 230, 232);
      border-radius: 8%;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
}

.image{
    width:100%;
    height:220px;
    object-fit: cover;
    border-radius: 8%;
}
.div-body{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-top: 5px;
}

.left{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.left h2{
    font-size:18px;
}
.right{
    display: flex;
    justify-content: space-between;
}

.dis{
   display: flex;
    justify-content: space-between;

}

.rating{
    max-width: max-content;
    background-color: green;
}

.card:hover{
    border:2px solid rgb(228, 230, 232);
    box-shadow: 5px 5px 5px rgb(228, 230, 232);
    transform: scale(1.1);
    
}

/* Buttons */
.button{
    display: flex;
    background-color: rgb(35, 35, 35);
    justify-content: center;
    gap:24px;
    padding:20px;
}

.btn{
    background-color: rgb(82, 177, 82);
    padding:10px;
    border:none;
    border-radius: 4%;
    font-weight: bold;
    color: white;
}


.content{
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     align-items: center;
     position: fixed;
     top:0;
     bottom:0;
     left:0;
     right:0;
     z-index: 50;
     font-size: 20px;
     text-align: center;
     background: rgba(0, 0, 0, 0.8);
    display: none;

}
.btn-style{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 253);
   box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.btn-inside{
     display: none;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    gap:30px;
  
}

.btn-style label{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    font-size: 18px;
}
.btn-style input[type="radio"]{
    transform: scale(1.2); /* optional: to make radio slightly bigger */
}

.btn-inside button{
   background-color: rgb(232, 64, 64);
   color:white;
    border:none;
    padding:12px;
}