*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(253, 244, 233);
}

.container{
    padding:10px;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: auto;
    background-color: white;
    border:5px solid  white;
    box-shadow: 20px 1px 15px white;
    overflow: hidden;
}
p{
    font-weight: bold;
}
.container form h1{
    text-align: center;
}

.question{
       padding:10px;
}

.question label{
 position: relative;
 top:5px;
}

button{
    position: relative;
    padding:5px;
    border: none;
    left:40px;
    background-color: rgb(119, 119, 163);
    border-radius: 5%;
    top:10px;
    cursor: pointer;
    height: 30px;
    width: 30vw;
     text-align: center;
}

