*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.container{
    display: flex;
    gap:10px;
    flex-direction: column;
    background-color: bisque;
    border:2px solid red;
    height:200px;
    width:300px;
}

#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100%;
    background-color: black;
    color:white;
    font-size:25px;
    text-align: center;
    position: relative;
}

.cont{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:10px;
}
.btn{
    padding:8px;
    border:none;
    color:black;
    background-color: rgb(122, 122, 183);
    height:45px;
    width:80px;
}
